{% extends 'main.html' %}

{% block content %}

<style>
  .profile-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
</style>


<h1>{{user.username}}</h1>

<div class="profile-container">
  <div>
    <!-- will be able to see all the topics of user in this section -->
    {% include 'base/topics_component.html' %}
  </div>

  <div>
    <!-- will be able to see all the rooms user owns in this section -->
    {% include 'base/feed_component.html' %}
  </div>

  <div>
    <!-- will be able to see all the activity of user in this section -->
    {% include 'base/activity_component.html' %}
  </div>
</div>

{% endblock content %}
